.exit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.6);
}

.none-exit {
  display: none;
}

.exit {
  z-index: 1000;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
  transition: all 0.5s;
}

.exit h2 {
  padding: 20px;
  font-size: 28px;
  font-weight: 300;
}

.exit__btns {
  display: flex;
}

.exit__btn {
  border: none;
  outline: none;
  background-color: #fff;
  color: #000;
  font-weight: 400;
  font-size: 24px;
  padding: 0 50px 50px 50px;
  cursor: pointer;
  transition: color 0.2s;
}

.exit__btn:hover {
  color: #56b4c9;
}

@media screen and (max-width: 550px) {
  .exit {
    width: 300px;
    height: 130px;
  }
  .exit__btn {
    border: none;
    outline: none;
    background-color: #fff;
    color: #000;
    font-weight: 400;
    font-size: 20px;
    padding: 0 30px 0px 30px;
  }
  .exit h2 {
    padding: 0 20px 20px;
    font-size: 20px;
  }
}