.order {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px 20px 20px;
  margin-left: 0;
  margin-bottom: 30px;
}

.personal-info__order {
  width: 70%;
}

.order__img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.orders-product {
  min-width: 400px;
  width: max-content;
  display: flex;
  flex-direction: column;
}

.order__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: max-content;
}

.order__content div {
  margin-right: 30px;
}

.order__color {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: green;
}

.order__sum {
  text-align: center;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

@media screen and (max-width: 1200px) {
  .order {
    padding: 10px 10px 10px 20px;
    margin-left: 0;
  }
  .order__color {
    display: none;
  }
  .personal-info__order {
    max-width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .personal-info__order {
    min-width: 100%;
  }
  .order {
    padding: 10px 10px 10px 20px;
    margin-left: 0;
    margin-top: 20px;
    justify-content: flex-start;
  }
  .order__content {
    flex-direction: column;
    align-items: flex-start;
  }
  .order__sum {
    text-align: start;
  }
  .order__img {
    width: 150px;
    height: 150px;
  }
}

.title-orders {
  display: inline-block;
  color: #797878;
  margin-right: 10px;
}

.block-orders {
  display: flex;
  justify-content: flex-start;
}

.history-orders {
  color: #56b4c9;
  margin: 10px 0;
}

.orders-product-img {
  width: 80px;
  height: 80px;
  margin-right: 16px;
  object-fit: contain;
}

@media screen and (max-width: 850px) {
  .order {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
  }
  .orders-product {
    min-width: 100%;
    width: max-content;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .order__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: max-content;
  }
}