* {
  box-sizing: border-box;
}

.personal-info {
  padding: 50px 10%;
  display: flex;
  justify-content: start;
  width: 100%;
}

.personal-info__user {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.personal-info__user-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.personal-info__user-section i {
  font-size: 30px;
}

.personal-info__user-section {
  padding: 0;
  margin-bottom: 15px;
}

.personal-info__user-section h2 {
  font-size: 16px;
}

.personal-info__sections ul {
  padding: 0;
  height: fit-content;
  width: 100%;
}

.personal-info__sections li {
  width: 100%;
}

.personal-info__section a,
.personal-info__section button,
.btn-after {
  display: block;
  font-size: 16px;
  color: #000;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.2s;
}

.personal-info__section a:hover,
.personal-info__section button:hover,
.btn-after {
  color: #56b4c9;
} 

.personal-info__section a::before,
.btn-after::before {
  content: '';
  width: 100%;
  position: absolute;
  top: 27px;
  right: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}


.personal-info__user-details {
  margin-left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}

.personal-info__block {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px 0 20px 90px;
}

.personal-info__block h1 {
  font-size: 25px;
  display: inline-block;
  margin-bottom: 10px;
}

.personal-info__content {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
}

.personal-info__column {
  width: 70%;
}

.personal-info__section {
  display: flex;
  position: relative;
}

.personal-info__content div {
  margin-right: 20px;
}

.personal-info__section a,
.personal-info__section button,
.btn-after {
  padding-left: 40px;
}

.personal-info__user-section i {
  color: #56b4c9;
}

.personal-info__section i {
  position: absolute;
  top: 4px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.personal-info__sections {
  display: block;
  width: 100%;
  padding: 15px 5px 0;
}

.personal-info__user-details .fa-truck,
.personal-info__user-details .fa-id-card,
.personal-info__user-details .fa-user-circle,
.personal-info__user-details .fa-sign-in-alt {
  position: absolute;
  top: 20px;
  left: 15px;
  color: #56b4c9;
  font-size: 38px;
}

.edit {
  position: absolute;
  top: 20px;
  right: 25px;
}
.edit i {
  margin-right: 10px;
  color: #56b4c9;
  text-decoration: underline;
}

@media screen and (max-width: 1000px) {
  
  .personal-info__user {
    width: 30%;
  }
  .personal-info__column {
    max-width: 60%;
  }
  
}

@media screen and (max-width: 700px) {
  .personal-info__block {
    padding: 80px 0 20px 20px;
  }
  .personal-info {
    flex-direction: column;
  }
  .personal-info__user {
    justify-content: center;
    width: 100%;
  }
  .personal-info__column {
    min-width: 100%;
  }
  .personal-info__user-details {
    margin-left: 0;
    margin-top: 20px;
  }
  .personal-info__user-details h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .personal-info__content  {
    flex-direction: column;
  }
  .personal-info__content div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: space-between;
  }
  .personal-info__content-title {
    margin-bottom: 3px;
  }
}

@media screen and (max-width: 1500px) {
  .personal-info {
    padding: 100px 5%;
  }
}

@media screen and (max-width: 700px) {
  .personal-info {
    padding: 50px 20px;
  }
}

@media screen and (min-width: 2000px) {
  .personal-info {
    padding: 50px 20%;
  }
}

.personal-info__user-section h2, 
.personal-info__user-section p {
  color: #000;
  text-align: center;
  margin: 0;
}

.personal-info__section button {
  border: none;
  outline: none;
  background-color: transparent;
  display: inline-block;
  width: fit-content;
  padding-left: 0;
  margin-left: 40px;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.6);
}

.personal-menu-block {
  width: 200px;
  height: max-content;
  z-index: 1000;
  padding: 20px 10px 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 13px 0 rgba(0,0,0, 0.3);
  opacity: 0;
  position: absolute;
  top: 120px;
  right: 0;
  transition: all 0.5s;
}

.personal-menu-block .fa-times {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.personal-menu-block .fa-times:hover {
 color: #56b4c9;
}

@media screen and (max-width: 1150px) {
  .personal-menu-block {
    top: 50px;
  }
}


@media screen and (max-width: 500px) {
  .personal-menu-block {
    padding: 30px 20px 0px;
    width: 100vw;
    height: 100vh;
    top: 0px;
    right: -10px;
    justify-content: flex-start;
    border-radius: 0;
  }
  .personal-contact-email {
    word-wrap: break-word;
  }
  .personal-info__user-section i {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .personal-info__user-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .personal-info__user-section p {
    font-size: 18px;
    margin-bottom: 0px;
  }
  .personal-info__section a,
  .personal-info__section button,
  .btn-after {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .personal-info__section a::before,
  .btn-after::before {
    top: 30px;
  }
  .personal-info__section i {
    top: 4px;
    font-size: 20px;
  }
}

.personal-info-active {
  opacity: 1;
  display: flex;
}

.edit span {
  cursor: pointer;
}

.edit span:hover {
  color: #56b4c9;
  text-decoration: underline;
}

.overlay-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #000;
  z-index: -1;
}

.small-text {
  font-size: 12px;
  color: gray;
}

.personal-info__sections li:hover .fas,
.personal-info__sections li:hover .personal-info__sections a{
  color: #56b4c9;
}

.personal-info__content-title {
  color: #757575;
}

.wrapper {
  width: 100%;
  height: 100%;
  z-index: 3000;
  position: fixed;
  top: 0;
  right: 0;
  display: none;
}

.wrapper-active {
  display: block;
}

.menu-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

